<header class="p-2">
  <a href="/" class="inline-flex items-center text-neutral-700">
    {% if site.logoSrc %}
      <div class="mr-2 rounded-full bg-neutral-800 w-9 h-9">
        <img src="{{ site.logoSrc }}" class="w-100 h-100" alt="{{ site.title }} logo" loading="lazy" />
      </div>
    {% endif %}
    <div class="font-semibold">
      {{ site.title }}
    </div>
  </a>
</header>
