{% set relPath = ".." if page.outputPath.split('/').length == 3 else "." %}
<wrg-header homeUrl="{{ relPath }}/"></wrg-header>

<script type="module-shim">
  import('{{ relPath }}/js/wrg-header.js');
</script>
