{% set relPath = ".." if page.outputPath.split('/').length == 3 else "." %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ relPath }}/lib/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/themes/light.css" />
    <!-- Shim ES module support -->
    <script
      async
      src="https://ga.jspm.io/npm:es-module-shims@1.6.2/dist/es-module-shims.js"
    ></script>
    <!-- Map CDN imports -->
    <script type="importmap-shim">
    {
      "imports": {
        "@shoelace-style/shoelace/": "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/",
        "fuse.js": "https://cdn.jsdelivr.net/npm/fuse.js@6.6.2/dist/fuse.esm.js",
        "lit": "https://cdn.jsdelivr.net/gh/lit/dist@2/core/lit-core.min.js"
      }
    }
    </script>
    <!-- As an optimization, immediately begin fetching the JavaScript modules
    that we know for sure we'll eventually need.. -->

    <link rel="modulepreload-shim" href="{{ relPath }}/wrg-config.json" />
    {% for path in js.filePaths %}
    <link rel="modulepreload-shim" href="{{ relPath }}/{{ path }}" />
    {% endfor %}


  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}

    <script type="module-shim">
      (async () => {
        const config = (await import('{{ relPath }}/js/config.js')).default;
        document.title = config.site.title;
      })();
    </script>
  </body>
</html>
