<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <base href="{{ site.url if build.environment==='production' else '' }}/">
    <link href="/lib/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.81/dist/themes/light.css" />
    <script type="module" src="/lib/is-land.js"></script>
  </head>
  <body>
    {% include "header.njk" %}
    {{ content | safe }}
  </body>
</html>
