---
layout: layout.njk
eleventyExcludeFromCollections: true
---

<script type="module" src="/lib/is-land.js"></script>
{% set replayWebPageVersion = ["@", replay.version] | join %}
<script src="https://cdn.jsdelivr.net/npm/replaywebpage{{ replayWebPageVersion if replay.version else '' }}/ui.js"></script>

<div class="h-screen flex flex-col">
  <div class="flex-0 p-2 bg-neutral-200 border-b invert">
    <a
      href="/"
      class="text-sm text-neutral-600 hover:text-neutral-900 font-semibold"
      >Back to all archives</a
    >
  </div>

  <is-land
    on:visible
    import="/components/wrg-replay.js"
    class="flex-1 block overflow-hidden"
  >
    <wrg-replay>
      <div class="text-neutral-500">Loading...</div>
    </wrg-replay>
  </is-land>
</div>
