---
permalink: ../.tmp/wrg-archives.json
eleventyExcludeFromCollections: true
---
{
  "archives": [{% for item in archivePages %}
    {
      "name": "{{ item.name }}",
      "url": "{{ item.url }}"
    }{% if not loop.last %},{% endif %}{% endfor %}
  ]
}
