---
permalink: wrg-runtime-config.json
eleventyExcludeFromCollections: true
---
{
  "site": {
    "title": "{{ site.title }}",
    "url": "{{ site.url }}",
    "logoSrc": "{{ site.logoSrc }}"
  },
  "archives": [{% for item in archivePages %}
    {
      "name": "{{ item.name }}",
      "url": "{{ item.url }}"
    }{% if not loop.last %},{% endif %}{% endfor %}
  ]
}
